#conteiner_informações_pacientes p{
    font-size: 20px;
}
body{
    background: rgb(35,48,91);
    background: radial-gradient(circle, rgba(35,48,91,1) 0%, rgba(45,63,108,1) 29%);
    height: 100vh;
}

.titulo{
    color: white;
}
