
body {
    margin: 0;
    font-family: 'poppinssemibold', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#66CDAA, #0062a2);
}

/* Botão para Médicos */
#botao_medic {
    position: absolute;
    top: 0;
    right: 0;
}

/* Estilo para o título de cadastro */
.cadastro_titulo {
    color: #66CDAA;
    font-family: 'poppinsblack';
    font-size: 20px;
    margin-bottom: 20px; /* Adiciona margem abaixo do título */
}

/* Área do formulário */
.box-area {
    width: 90%; /* Alterado para 90% para se ajustar a diferentes tamanhos de tela */
    max-width: 700px; /* Define uma largura máxima */
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Espaçamento interno para os elementos do formulário */
.right-box {
    padding: 10px;
}

/* Estilo para placeholders */
::placeholder {
    font-size: 16px;
}

/* Botões */
.btn {
    background-color: #0062a2;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #66CDAA;
}

/* Estilo para os botões lado a lado */
.button-group {
    display: flex; /* Use flexbox para alinhar os botões lado a lado */
    justify-content: space-between; /* Distribui o espaço disponível entre os botões */
    margin-top: 20px; /* Adiciona margem acima dos botões */
}

/* Estilo para os botões dentro da classe button-group */
.button-group button {
    flex: 1; /* Faz com que os botões compartilhem igualmente o espaço disponível */
    font-size: 14px; /* Reduz o tamanho do texto nos botões */
    padding: 8px 10px; /* Reduz o preenchimento dentro dos botões */
}

/* Ajuste de margem entre os botões */
.button-group button + button {
    margin-left: 10px; /* Adiciona uma margem à esquerda do segundo botão */
}

/* Ajuste de margem para dispositivos menores */
@media only screen and (max-width: 768px) {
    .box-area {
        width: 90%; /* Altera a largura para ocupar 90% da largura da tela */
        max-width: none; /* Remove a largura máxima */
    }

    /* Ajuste de tamanho dos botões para dispositivos menores */
    .button-group button {
        font-size: 10px; /* Reduz o tamanho do texto nos botões */
        padding: 5px 10px; /* Reduz o preenchimento dentro dos botões */
    }
}