@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* DARKMODE INICIO */

body.dark-mode {
  background: #2f373f;
}

.dark-mode .navbar {
  background-color: #2f373f;
}

.dark-mode .fundo_busca {
  background: #3e4953;
}

.dark-mode .navbar .nav-link::before {
  background-color: rgb(107, 107, 107);
}

.dark-mode .home .title span {
  color: #90a7e2;
}

.dark-mode .offcanvas-header {
  background-color: #3f4852;
}

.dark-mode .offcanvas-body {
  background-color: #3f4852;
}

.dark-mode .offcanvas a {
  color: white;
}

.dark-mode .offcanvas a.nav-link.active {
  color: white;
}

.dark-mode .offcanvas .nav-link::before {
  background-color: #74808b;
}

.dark-mode .entrar_off {
  background-color: #5d6977;
}

.dark-mode .entrar_off:hover {
  background-color: #727e8b;
}

.dark-mode .btn-secondary {
  background-color: #5d6977;
}

.dark-mode .btn-secondary:hover {
  background-color: #5d6977;
}

.dark-mode .offcanvas-header {
  background-color: #32353f;
}

.dark-mode .usu_logado{
  color: white;
}

.dark-mode .mensagem-completa{

  color: white;

}


/*DARKMODE FIM*/

/*NAVBAR INICIO*/
.navbar-brand {
  font-size: 32px;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.navbar {
  background-color: #2d3f6c;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.btna {
  font-weight: bold;
  background-color: #d5dcf1;
  color: rgb(53, 53, 61);
}

.btna:hover {
  background-color: #b9c3e0;
}

.navbar .nav-link {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 18px;
  margin-left: 30px;
  position: relative;
  color: white;
}

.navbar .nav-link.active {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: white;
}

.navbar .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 0%;
  height: 2px;
  background-color: rgb(90, 154, 211);
  transition: all 0.6s ease;
  transform-origin: center;
}

.navbar .nav-item:hover .nav-link::before {
  width: 100%;
}

.poschk {
  margin-top: 9px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.b {
  color: rgb(0, 0, 0);
  font-family: "Urbanist", sans-serif;
  font-weight: 800;
  font-optical-sizing: auto;
  position: absolute;
  background-color: #d5dcf1;
  transform-origin: center;
  margin-left: 20px;
  padding: 10px;
  border-radius: 20px;
  width: 90px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.b:hover {
  background-color: #b9c3e0;
}

.offcanvas a {
  font-size: 20px;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
  color: white;
  margin-left: 0px;
}

.usu_logado{
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: 24px;
  font-optical-sizing: auto;
  color: black;
  
  }
  
  .mensagem-completa{
      font-size: 20px;
  }
  

.offcanvas-header {
  text-align: center;
  background-color: #2d3f6c;
  color:white;
}

.offcanvas .nav-link {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  color: rgb(85, 81, 81);
  margin-left: 0px;
  display: inline-block;
}

.offcanvas .nav-link.active {
  color: rgb(85, 81, 81);
}

.offcanvas .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 20;
  margin-inline: auto;
  width: 0%;
  height: 2px;
  background-color: rgb(90, 154, 211);
  transition: all 0.6s ease;
}

.offcanvas .nav-item:hover .nav-link::before {
  width: 100%;
}

.offcanvas-body {
  background-color: #d5dcf1;
}

.labelchk {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
}

.labelchk .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;

  height: 22px;
  width: 22px;

  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .labelchk .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.entrar_off {
  font-family: "Urbanist", sans-serif;
  font-weight: 300;
  position: absolute;
  background-color: #2d3f6c;
  padding: 3px;
  border-radius: 10px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.6s ease;
  width: 16%;
  color: white;
}

.entrar_off:hover {
  background-color: #4a5c88;
}

.btn-secondary:hover {
  background-color: #4a5c88;
}

.btn-secondary {
  margin-top: 20px;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  background-color: #2d3f6c;
}

.btn-secondary:hover {
  background-color: #4a5c88;
}

/*HERO*/

.home {
  background-color: #55aab8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section .dark-mode {
  background: #232c35;
}

.home .content {
  color: #fff;
}

.home .title {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  margin-top: 6rem;
  font-size: 3.8rem;
  text-transform: uppercase;
}

.home .title span {
  color: #4b5f91;
}

.home .descricao {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.8;
  padding: 1rem 0;
}

.card-body-busca {
  text-decoration: none;
  padding: 10px;
  margin-left: -13px;
  width: 90%;
}

.input_busca {
  text-decoration: none;
  border-style: none;
  border-radius: 5px;
  width: 200px;
  height: 40px;
}

.input_busca:focus {
  text-decoration: none;
}

.home .btn_1 {
  font-family: "Urbanist", sans-serif;
  margin-top: 1.5rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  color: #fff;
  background: #2d3f6c;
  cursor: pointer;
  text-decoration: none;
}

.home .btn_1:hover {
  letter-spacing: 0.1rem;
}

.home .imagem img {
  width: 100%;
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}
.dropdown-item {
  display: none;
}
.dropdown-item.show {
  display: block;
}

.dropdown-toggle {
  padding: 7px;
  color: rgb(121, 121, 122);
  background-color: #ffffff;
}

.dropdown-toggle:hover {
  background-color: #4a5c88;
}

.dropdown::after {
  background-color: #4a5c88;
}

.card_especialista {
  max-width: 400px;
  margin-right: 200px;
}

.card-header {
  background-color: #2d3f6c;
  color: white;
  font-weight: bold;
}
.card-body {
  padding-right: -50000px;
}
.card-footer {
  background-color: transparent;
  border-top: none;
}
.card {
  padding-right: -20000px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.map {
  background: url("https://image.freepik.com/vetores-gratis/mapa-da-cidade_1284-15033.jpg")
    no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}