body {
  margin: 0px;
  font-family: "Jost", sans-serif;
  background-image: linear-gradient(#66CDAA, #0062a2); 
}

.box-area {
  width: 600px;
}

.right-box {
  padding: 10px;
}

::placeholder {
  font-size: 16px;
}


@media only screen and(max-width: 768) {
  .box-area {
    margin: 0 10px;
  }

  .left-box {
    height: 100px;
    overflow: hidden;
  }

  .right-box {
    padding: 20px;
  }
}

.btn {
  background-color: #0062a2;
  border: none;
}

.btn:hover {
  background-color: #66CDAA;
  border: none;
}

.cadastro_titulo {
  color: #0062a2;
  font-weight: bold;
  font-size: 20px;
}

.sexo_titulo {
  margin-bottom: 0px;
}



