*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'poppinsbold', Arial, Helvetica, sans-serif;
    background-color: #0062a2;
}

#conteiner_header{
    border-bottom: 1px solid black;
    background-image: linear-gradient(0.2deg, #0062a2, #66CDAA)
}

#collapsibleNavbar{
    justify-content: end;
    margin-right: 60px;
    
}
.navbar-nav{
    text-align: left;
}
/* ALTERAÇÕES DOS LINKS */
.links_header{
    font-style: normal;
    font-weight: 400;
    padding: 5px 10px 0px 10px;
    font-size: 20px;
}

/* CAIXA DO MENU SUSPENSO */

.dropdown-item:hover{
    background-color: #66CDAA;
    padding-left: 20px;
    transition: .4s;
    color: white;
    box-shadow: 0 0 1px black;
}
.navbar-toggler{
    display: flex;
}

h1 {

    text-align: center;
    margin-top: 50px;
    font-family: 'poppinsblack', Arial, Helvetica, sans-serif;
    color: #66CDAA;

}
